{% extends "demoapp1/base.html" %}

{% block title %}
<title>About</title>
{% endblock %}

{% block body_block %}
{% load static %}

<div class="container">
  <div class="row">
    <div class="col-md-8" style='margin: 0 auto; padding: 2rem 1rem;'>
      <h4 class="my_h4">The Webpage</h4>
      <div class="row align-items-center">
        <div class="col-sm-8">
          <p class="my_p">
            This webpage has been created for training purposes. Source code available on GitHub.
          </p>
        </div>
        <div class="col-sm-4">
          <a href="https://github.com/5piotr/demosite">
            <img src="{% static 'demoapp1/images/github.png' %}" class="mx-auto d-block" alt="" height="50">
          </a>
        </div>
      </div>
      <h4 class="my_h4">Simple Gesture Recognition</h4>
      <div class="row align-items-center">
        <div class="col-sm-8">
          <p class="my_p">
            CNN source code available on GitHub.
          </p>
        </div>
        <div class="col-sm-4">
          <a href="https://github.com/5piotr/rps_cnn_classification">
            <img src="{% static 'demoapp1/images/github.png' %}" class="mx-auto d-block" alt="" height="50">
          </a>
        </div>
      </div>
      <a href="{% url 'demoapp1:rps_cnn_details' %}"style='margin: 1rem 0;'>
        Click here for more details about the model.
      </a>
      <h4 class="my_h4">Apartment Price Estimator</h4>
      <div class="row align-items-center">
        <div class="col-sm-8">
          <p class="my_p">
            ANN and random forest source code available on GitHub.<br>
          </p>
        </div>
        <div class="col-sm-4">
          <a href="https://github.com/5piotr/apartment_price_estimator">
            <img src="{% static 'demoapp1/images/github.png' %}" class="mx-auto d-block" alt="" height="50">
          </a>
        </div>
      </div>
      <a href="{% url 'demoapp1:apartment_estimator_details' %}"style='margin: 1rem 0;'>
        Click here for more details about the models.
      </a>
      <h4 class="my_h4">Contact Me</h4>
      <div class="row align-items-center">
        <div class="col-sm-8">
          <p class="my_p">
            If you want to contact me please use LinkedIn.
          </p>
        </div>
        <div class="col-sm-4">
          <a href="https://www.linkedin.com/in/piotr-piętka-12a69693">
            <img src="{% static 'demoapp1/images/linkedin.png' %}" class="mx-auto d-block" alt="" height="50">
          </a>
        </div>
      </div>
  </div>

</div>


{% endblock %}
