{% extends "demoapp1/base.html" %}
{% block body_block %}


<div class="container">
  <div class="jumbotron my_jumbotron">
    <h1 class="display-4">About Me</h1>
    <p class="lead">
      I'm a mechanical engineer with 10 years of professional experience.
      Recently I got interested in programming, to be more precise in machine learning.
      I think this is a very interesting hobby and a valuable addition to my skill set.
      I'm using this site to test my new abilities.

    </p>
  </div>
</div>


{% endblock %}
