{% extends "demoapp1/base.html" %}

{% block title %}
{% load static %}
<meta name="title" property="og:title" content="Graphing Calculator">
<meta name="image" property="og:image" content="{% static 'demoapp1/images/graphing_calc.png' %}">
<meta name="description" property="og:description" content="This is a simple graphing calculator.">
{% endblock %}

{% block body_block %}
{% load static %}

<div class="container">
  <div class="row">
    <div class="col-md-6" style='margin: 3rem auto;'>
      <h4>Graphing Calculator</h4>
      <br>
      <form id="form" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <label>Please enter equation as a function of x and its domain:</label>
          {# row 1 #}
          <div class="row">
            <label for="equation" class="col-lg-1 col-form-label"><b>f(x)=</b></label>
            <div class="col-lg-11">
              <input id="equation" class="form-control" type="text" value="" name="equation" required>
            </div>
          </div>
          <br>
          {# row 2 #}
          <div class="row">
            <label for="x_min" class="col-lg-1 col-form-label"><b>x<sub>min</sub>=</b></label>
            <div class="col-lg-5">
              <input id="x_min" class="form-control" type="text" value="-10" name="x_min" required pattern="^-?\d+(\.\d+)?$">
            </div>
            <label for="x_max" class="col-lg-1 col-form-label"><b>x<sub>max</sub>=</b></label>
            <div class="col-lg-5">
              <input id="x_max" class="form-control" type="text" value="10" name="x_max" required pattern="^-?\d+(\.\d+)?$">
            </div>
          </div>
          <br>
          <small class="form-text text-muted">
            Example:<br>
            f(x) = x**2+3*x+5<br>
            <a href="https://docs.python.org/3.8/library/math.html?highlight=trigonometric">Advanced functions with math. module</a><br>
            <a class="" href="{% url 'demoapp1:privacy_policy' %}"><b>Privacy</b></a>
          </small>
        </div>
        <button type="submit" class="btn btn-success">Calculate</button>
        <div class='row'>
          <div class="col-md-3" style='margin: 1rem auto;'>
            <div id='spinner'></div>
          </div>
        </div>
      </form>

    </div>

  </div>
    <div class="row">

      {% if plot_div and plot_div != 'Error' %}
        <div class="col">
          {% autoescape off %}
          {{ plot_div }}
          {% endautoescape %}
        </div>

      {% elif plot_div == 'Error' %}
        <div class="col-md-6" style='margin: 1rem auto;'>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Please review the equation and its domain and try again.</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      {% endif %}

    </div>

</div>

<script src="{% static 'demoapp1/js/graphing_calculator.js' %}"></script>
{% endblock %}
