{% extends "demoapp1/base.html" %}

{% block title %}
<title>Hey!</title>
<meta name="title" property="og:title" content="Hey!">
<meta name="image" property="og:image" content="{% static 'demoapp1/images/light_bulbs.png' %}">
<meta name="description" property="og:description" content="I have an idea...">
{% endblock %}

{% block body_block %}
{% load static %}

<div class="container">
  <div class="row">
    <div class="col-md-8" style='margin: 0 auto;'>

      <div class="card" style='margin: 1rem 0rem;'>
        <div class="row no-gutters">
          <div class="col-md-6 align-self-center">
            <img src="{% static 'demoapp1/images/apartment.png' %}" class="card-img" alt="***missing_image***">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Apartment Price Estimator</h5>
              <p class="card-text">This application is using neural network and random forest models
              to estimate the price of a given apartment.</p>
              <a href="{% url 'demoapp1:apartment_price_estimator' %}" class="btn btn-info">Go to app</a>
              <a href="{% url 'demoapp1:apartment_estimator_details' %}" class="btn btn-info">App details</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card" style='margin: 1rem 0rem;'>
        <div class="row no-gutters">
          <div class="col-md-6 align-self-center">
            <img src="{% static 'demoapp1/images/rock-paper-scissors.png' %}" class="card-img" alt="***missing_image***">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Simple Gesture Recognition</h5>
              <p class="card-text">This application is using convolutional neural network model
              to classify images of the Rock Paper Scissors game calls.</p>
              <a href="{% url 'demoapp1:simple_gesture_recognition' %}" class="btn btn-info">Go to app</a>
              <a href="{% url 'demoapp1:rps_cnn_details' %}" class="btn btn-info">App details</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card" style='margin: 1rem 0rem;'>
        <div class="row no-gutters">
          <div class="col-md-6 align-self-center">
            <img src="{% static 'demoapp1/images/graphing_calc.png' %}" class="card-img" alt="***missing_image***" style='padding: 0.5rem;'>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Graphing Calculator</h5>
              <p class="card-text">This is a simple graphing calculator.</p>
              <a href="{% url 'demoapp1:graphing_calculator' %}" class="btn btn-info">Go to app</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>


{% endblock %}
