{% extends "demoapp1/base.html" %}

{% block title %}
{% load static %}
<title>Simple Gesture Recognition</title>
<meta name="title" property="og:title" content="Simple Gesture Recognition">
<meta name="image" property="og:image" content="{% static 'demoapp1/images/rock-paper-scissors.png' %}">
<meta name="description" property="og:description" content="This application is using convolutional neural network model
to classify images of the Rock Paper Scissors game calls.">
{% endblock %}

{% block body_block %}
{% load static %}

<div class="container">
  <div class="row">
    <div class="col-md-6" style='margin: 3rem auto;'>
      <h4>Rock Paper Scissors game call gesture recognition</h4>
      <br>
      <form id="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label>Please upload a picture of a hand gesture game call:</label>
          <br>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="validatedCustomFile" name='picture' accept=".jpg,.png" required>
            <label class="custom-file-label" for="validatedCustomFile">Choose file</label>
          </div>
          <small class="form-text text-muted">
            <p>Picture should be taken on a contrasting uniform surface under diffused lighting conditions.<br>
              Max file size: 4MB<br>
              Format: JPEG, PNG<br>
              <a class="" href="{% url 'demoapp1:privacy_policy' %}"><b>Privacy</b></a>
            </p>
          </small>

        </div>
        <button type="submit" class="btn btn-success">Upload</button>
        <div class='row'>
          <div class="col-md-3" style='margin: 1rem auto;'>
            <div id='spinner'></div>
          </div>
        </div>

      </form>

      <br>

      {% if plot_div_r and plot_div_r != 'Error' %}
          <div class="alert alert-success alert-dismissible fade show" role="alert" style='padding: 1rem;'>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <br>
            <div class="container text-center">
              {% autoescape off %}
              {{ plot_div_r }}
              {{ plot_div_k }}
              {{ plot_div_e }}
              {% endautoescape %}
              <br>
              The picture you uploaded is showing a
              <strong>{{ label }}</strong> gesture<br><br>
            </div>
            <div class="text-center">
              <a href="{% url 'demoapp1:rps_cnn_details' %}" class="btn btn-info btn-sm" role="button" style='margin: 1rem 0;'>
                Click here for more details about the CNN model
              </a>
            </div>
          </div>

      {% elif plot_div == 'Error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Something went wrong, please try again.</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}



    </div>

  </div>

</div>

<script src="{% static 'demoapp1/js/simple_gesture_recognition.js' %}"></script>
{% endblock %}
